<div class="flex justify-center">
  <h1 class="text-3xl font-bold">{{ title }}</h1>
</div>

<div class="controls flex items-center justify-center my-4">
    <input type="number" class="w-[18em] py-2 px-3 block bg-gray-200 rounded-lg" [(ngModel)]="greenDuration" min="1" value="5" placeholder="Green light's duration (sec)" (change)="validate()">
  <button class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded
  ml-[10px]" (click)="updateGreenDuration(greenDuration)">Apply</button>
</div>

<div class="grid grid-cols-2">
  <app-traffic-light class="flex justify-center col-span-2" [lightIndex]="0" [activeLight]="currentActiveLight" [duration]="durations.green"></app-traffic-light>
  <app-traffic-light class="flex justify-center" [lightIndex]="2" [activeLight]="currentActiveLight" [duration]="durations.green"></app-traffic-light>
  <app-traffic-light class="flex justify-center"  [lightIndex]="1" [activeLight]="currentActiveLight" [duration]="durations.green"></app-traffic-light>
  <app-traffic-light class="flex justify-center col-span-2" [lightIndex]="3" [activeLight]="currentActiveLight" [duration]="durations.green"></app-traffic-light>
</div>